.wrapper{
    position: relative;
}

.navigation{
    cursor: pointer;
    position: absolute;
    z-index: 10;
    background: none;
    padding: 0;
    border: none;
}
.leftNavigation{
    left:0;
    top:40%;
    transform: translateY(-50%);

}

.rightNavigation{
    right:10px;
    top:40%;
    transform: translateY(-50%);


}